In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dusti\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dusti\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
enron_emails = pd.read_csv('clean_enron_emails.csv')
enron_emails = enron_emails.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'text_tokens'])

In [4]:
enron_emails['clean_text'] = [row.lower() for row in enron_emails['clean_text']]

In [5]:
stop_words = set(stopwords.words('english'))

In [6]:
enron_emails['text_tokens'] = [nltk.word_tokenize(text) for text in enron_emails['clean_text']]
enron_emails['text_no_stop'] = [[w for w in word_tokens if not w in stop_words] for word_tokens in enron_emails['text_tokens']]

In [8]:
enron_emails.head()

,date,sender,recipient1,subject,text,sender_name,recipient_name,sender_gender,recipient_gender,clean_text,text_tokens,text_no_stop
0,2001-05-14 16:39:00-07:00,phillip.allen@enron.com,tim.belden@enron.com,NaN,"['', 'Here is our forecast', '', ' ']",Phillip,Tim,male,male,here is our forecast,"[here, is, our, forecast]",[forecast]
1,2001-05-04 13:51:00-07:00,phillip.allen@enron.com,john.lavorato@enron.com,Re:,"['', 'Traveling to have a business meeting tak...",Phillip,John,male,male,traveling to have a business meeting takes the...,"[traveling, to, have, a, business, meeting, ta...","[traveling, business, meeting, takes, fun, tri..."
2,2000-10-18 03:00:00-07:00,phillip.allen@enron.com,leah.arsdall@enron.com,Re: test,"['', 'test successful. way to go!!!']",Phillip,Leah,male,female,test successful. way to go!!!,"[test, successful, ., way, to, go, !, !, !]","[test, successful, ., way, go, !, !, !]"
3,2000-10-23 06:13:00-07:00,phillip.allen@enron.com,randall.gay@enron.com,NaN,"['', 'Randy,', '', ' Can you send me a schedul...",Phillip,Randall,male,male,randy can you send me a schedule of the sala...,"[randy, can, you, send, me, a, schedule, of, t...","[randy, send, schedule, salary, level, everyon..."
4,2000-08-31 05:07:00-07:00,phillip.allen@enron.com,greg.piper@enron.com,Re: Hello,"['', ""Let's shoot for Tuesday at 11:45. ""]",Phillip,Greg,male,male,lets shoot for tuesday at 1145.,"[lets, shoot, for, tuesday, at, 1145, .]","[lets, shoot, tuesday, 1145, .]"

In [9]:
enron_female_sender = enron_emails[enron_emails['sender_gender'] =='female'].reset_index()
enron_male_sender = enron_emails[enron_emails['sender_gender'] =='male'].reset_index()
enron_andy_sender = enron_emails[enron_emails['sender_gender'] =='andy'].reset_index()

In [11]:
def count_these_words(text, list_of_words):
    total = 0
    for word in list_of_words:
        total += text.count(word)

    return total

In [12]:
enron_female_sender['num_personal'] = [count_these_words(tokens, ['Sister', 'Brother', 'Husband', 'Wife', 'Son', 'Daughter', 'Mom', 'Father']) for tokens in enron_female_sender['text_no_stop']]

NameError: name 'num_personal' is not defined